.StoreHero {
    height: 80vh;
    background-image: url("../../content/images/herr4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem; */
  }
  
  
  .StoreTitle{
      text-align: center;
      font-family: 'Poppins',sans-serif;
      color: #2b2f38;
      font-size: 50px;
  }
  
  
  
  @media only  screen and (max-width:500px){

    .StoreHero{
      height: 50vh;
    }
    
  
    .contactTitle{
      font-size: 30px;
  }

  .StoreTitle{
    font-size: 30px;
  }
  
  
  }
  
  