.Hero {
  height: 85vh;
  background-image: url("../../content/images/con4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 10vh; */
}

.heroContent {
  width: 80%;
  margin: auto;
  display: flex;
  padding-top: 100px;
  justify-content: flex-start;
}

.HeroTypoCont {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20vh;
}

.HeroHead {
  font-size: 30px;
  line-height: 35px;
  font-family: 'Poppins', sans-serif;
}


.heroTitle{
    font-family: 'Poppins', sans-serif;
    
}

.themeButton{
    background-color: #406caa;
    color:white;
    padding: 15px;
    width: 180px;
    border: none;
    border-radius:2rem ;
    cursor: pointer;
}

.themeButton:hover{
  background-color: #ad449b;
  
}


@media only  screen and (max-width:1150px){
  .HeroTypoCont{
    width: 80%;
  }
}

@media only  screen and (max-width:800px){


  .heroContent{
    width: 92%;
  }

  .heroContent{
    padding-top: 20px;
  }

  .HeroTypoCont{
    width: 80%;
  }

}

@media only  screen and (max-width:700px){
  .Hero{
    /* padding-top: 15vh; */
  }
  .HeroHead {
    /* font-size: 35px; */
    /* line-height: 40px; */
    font-family: 'Poppins', sans-serif;
  
  }
  
  .heroTitle{
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      
  }

}

@media only  screen and (max-width:500px){

  .Hero{
    /* padding-top: 15vh; */
    height: 70vh;
  }
  .heroContent{
    width: 92%;
  }

  .HeroTypoCont{
    width: 80%;
  }


.HeroHead {
  font-size: 20px;
  line-height: 25px;
  font-family: 'Poppins', sans-serif;
}

.heroTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}

.heroButton{
  width: 140px;
  padding: 12px;
  border-radius: 1.5rem;
  margin-top: 20px;
}

}