.Feature {
  width: 80%;
  margin: auto;
  padding-bottom: 100px;
}

.FeatureTitle {
  color: #2b2f38;
  font-family: "Poppins", sans-serif;
  /* text-align: center; */
  font-size: 35px;
}

.FeatureContainer {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  margin-top: 80px;

  grid-row-gap: 80px;
  justify-content: space-between;
}

.FeatureBox {
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.FeatureImg {
  object-fit: cover;
  width: 100%;
  height: 400px;
  object-fit: contain;
  /* height: 70%;
    width: 100%; */
}

.FeatureDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* width: 30%; */
}

.featureLabel {
  color: #abb8c3;
  font-size: 14px;
}

.featureDec {
  font-size: 17px;
}

.featurePrice {
  font-weight: 600;
  font-size: 14px;
}

@media only screen and (max-width: 900px) {
  .FeatureContainer {
    grid-template-columns: 45% 45%;
  }
}

@media only screen and (max-width: 500px) {
  .featureLabel {
    color: #abb8c3;
    font-size: 11px;
  }

  .featureDec {
    font-size: 13px;
  }

  .featurePrice {
    font-weight: 600;
    font-size: 11px;
  }

  .FeatureTitle {
    font-size: 25px;
  }
  .FeatureImg {
    height: 200px;
  }
}
