.anchorIn{
    cursor:pointer;
    font-size: 16px;
    text-decoration: none;
    color:black;
    margin-bottom:3px;
}

.anchorIn:hover{
    color: #fc5f5f;
    transition: all .2s linear;
}


.menuHover{
    position: absolute;
    margin-top: 15px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

