.footerHead{
    /* background-color: #9eb4d3; */
    padding-bottom: 10px;
    background: rgb(144,170,205);
background: linear-gradient(17deg, rgba(144,170,205,1) 0%, rgba(199,212,231,1) 75%);
    
    
}

.Footer{
    width: 70%;
    margin: 200px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 20px;
    /* align-items: center; */
}

.FooterMenu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.menuChild{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.FootAnchor{
    cursor: pointer;
    text-decoration: none;
    color:#2b2f38;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight:500;
    /* margin-right: 10px; */
    text-align: center;
    margin-bottom: 5px;
}

.FootAnchor:hover{
    color: #ad449b;
    transition: all .2s linear;
}
.headTitle{
    color:#2b2f38;
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.childTitle{
    color:#2b2f38;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight:400
    

}

.anchorParent{
    width: 100%;
}


.social{
    /* width: 50%; */
    /* margin: auto; */
   display: flex;
   justify-content: flex-start;
}

.Footericons{
    margin: 25px;
    cursor: pointer;
}


.highlight{
    display: flex;
    align-items: center;
}


.footerMenuInside{
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
@media only  screen and (max-width:700px){
    .FooterMenu{
        flex-direction: column;
        align-items: center;
        
    }
    .FootAnchor{
        margin-bottom: 10px;
    }

    .menuChild{
        align-items: center;
    }

    .social{
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .footerMenuInside{
        display:flex;
        align-items:center;
        justify-content:center;
        margin-right: 50px;
        margin-bottom: 20px;
        width: 100%;
    }

}


@media only  screen and (max-width:390px){

    .headTitle{
        color:#2b2f38;
        font-family: 'Poppins',sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    
    .childTitle{
        color:#2b2f38;
        font-family: 'Poppins',sans-serif;
        font-size: 16px;
        font-weight:400
        
    
    }

    .Footericons{
        margin: 15px;
        
    }

    .Footer{
        width: 80%;
        /* margin-bottom: 20px; */
    }
}