.Footer{
    width: 70%;
    margin: 200px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.FooterMenu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.menuChild{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.FootAnchor{
    cursor: pointer;
    text-decoration: none;
    color:#2b2f38;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight:500;
    /* margin-right: 10px; */
    text-align: center;
    margin-bottom: 5px;
}

.FootAnchor:hover{
    color: #fc5f5f;
    transition: all .2s linear;
}
.headTitle{
    color:#2b2f38;
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.childTitle{
    color:#2b2f38;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight:400
    

}

.anchorParent{
    width: 100%;
}


.social{
    /* width: 50%; */
    margin: auto;
   
}

.Footericons{
    margin: 25px;
    cursor: pointer;
}


.highlight{
    display: flex;
    align-items: center;
}

@media only  screen and (max-width:700px){
    .FooterMenu{
        flex-direction: column;
        align-items: center;
        
    }
    .FootAnchor{
        margin-bottom: 10px;
    }

    .menuChild{
        align-items: center;
    }

}


@media only  screen and (max-width:350px){

    .headTitle{
        color:#2b2f38;
        font-family: 'Poppins',sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    
    .childTitle{
        color:#2b2f38;
        font-family: 'Poppins',sans-serif;
        font-size: 14px;
        font-weight:400
        
    
    }

    .Footericons{
        margin: 15px;
        
    }
}