.AboutHero {
  height: 70vh;
  background-image: url("../../../content/images/about3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: brightness(60%);
  /* border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 8rem; */
}

.AboutTitle {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 57px;
  font-weight: bolder;
  margin-top: 60px;
}

.AboutBottom {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
  padding-bottom: 120px;
}

.title1 {
  width: 28%;
}

.title1 > h2 {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  color: #808285;
  font-weight: bolder;
}

.title2 {
  width: 68%;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.title2 > h3 {
  color: #808285;
  font-weight: bolder;

}

.title2 > p {
  font-size: 17px;
  color:#808285 ;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .AboutTitle {
    font-size: 40px;
  }

  .AboutBottom {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    padding-bottom: 120px;
  }

  .title1 {
    width: 100%;
  }

  .title1 > h2 {
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    color: #808285;
    font-weight: bolder;
  }

  .title2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .title2 > h3 {
    color: #808285;
    font-weight: bolder;
  }

  .title2 > p {
    font-size: 16px;
  }

  .AboutHero {
    height: 80vh;

    padding-top: 0vh;
    /* border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem; */
  }
}


@media only screen and (max-width: 500px) {
  .AboutTitle {
    font-size: 30px;
  }
}