.Banner {
  height: 60vh;
  background-image: url("../../content/images/timeline.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  width: 100%;
  /* margin: auto; */
  /* padding-top: 20vh; */
}

.BannerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: auto;
  text-align: center;
}

.title{
    font-size: xxx-large;
    font-family: 'Poppins',sans-serif;
}


@media only  screen and (max-width:800px){
    .title{
        font-size:xx-large;
    }

}

@media only  screen and (max-width:800px){
    .title{
        font-size:x-large;
    }

}